<header class="text-center pt-16">
  <div class="avatar h-24">
    <%= image_tag "my-profile.jpg", alt: "Fame's Quest Image", class: "mx-auto rounded-full" %>
  </div>

  <h1 class="font-bold text-4xl">Fame's Quest</h1>
  <h6 class="font-bold text-md">Phuwamet Panjachalermrat</h6>

  <%= link_to "Fame's Brag Document", brag_path, class: "btn btn-info mt-4" %>

  <div class="divider"></div>
</header>
<section class="sticky top-0 z-10 bg-white pt-8 pb-2">
  <%= form_with class: "flex justify-between flex-col sm:flex-row gap-2 sm:gap-4 mb-4", model: @new_quest, url: quests_path do |form| %>
    <%= form.text_field :title, placeholder: "Enter quest title", class: "input w-full" %>
    <%= form.submit "Create Quest", class: "btn btn-primary" %>
  <% end %>
</section>

<main>
  <% if @quests.any? %>
    <ul class="list min-h-full px-4 pt-2 overflow-hidden">
      <% @quests.each do |quest| %>
        <li class="quest list-row flex justify-between items-center">
          <div class="flex items-center gap-2">
            <%= form_with url: quest_path(quest), method: :patch, local: true do |form| %>
              <%= form.check_box :completed, checked: quest.completed, class: "checkbox", onchange: "this.form.submit()" %>
            <% end %>
            <h2 class="font-bold text-lg md:text-xl <%= quest.completed? && "line-through" %>"><%= quest.title %></h2>
          </div>
          <%= button_to "Remove", quest_path(quest), method: :delete, class: "btn btn-sm btn-error", data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No quests available.</p>
  <% end %>
</main>
